/* app css stylesheet */

body{
	background: #E7E7E7 !important;
}
label, h1, h2, h3, h4, h5 {
  color: #777 !important;
}

h2 {
    text-align: center;
}

.top-buffer {
  margin-top: 20px;
}

.main-color, .well {
  /*background: #74899E !important;*/
  background: #D0E4BF !important;
}

.border-wrapper {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
}
