<h2>Cesar algorithm with the keyword</h2>
<div class="container-fluid" ng-controller="View1Ctrl">
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-lg">
                <form name="form">
                    <input type="text" name="key" class="form-control top-buffer" placeholder="Key" ng-model="key" ng-pattern="onlyNumbers" required>{{form.key.$valid}}
                    <input type="text" class="form-control top-buffer" placeholder="Keyword" ng-model="keyword" required>
                    <div class="top-buffer border-wrapper">
                        <input type="radio" id="encrypt" name="radios" title="Encrypt" checked ng-click="switcher">
                        <label for="encrypt">Encrypt</label>
                        <input type="radio" id="decrypt" name="radios" title="Decrypt" ng-click="!switcher">
                        <label for="decrypt">Decrypt</label>
                    </div>
                    <h4>Write text to encrypt:</h4>
                    <textarea  ng-model="inputText" class="form-control">Hello World!</textarea>
                    <div class="btn-group top-buffer">
                      <button type="button" class="btn btn-default" ng-click="performAction()">Encrypt</button>
                      <button type="button" class="btn btn-default">Clear</button>
                      <button type="button" class="btn btn-default">Clear result</button>
                    </div>
                    <h4>Result:</h4>
                    <textarea ng-model="outputText" class="form-control top-buffer">Result...</textarea>
                </form>
            </div>
        </div>
    </div>
</div>

